article p{/*Te gjithe pasardhesit e article*/
    background: blue;
    color:white;
    padding: 20px;
}
article > p{/*Vetem femijet direkt*/
    background: red;
}
article~p{/*sibling elemente te article*/
    background: purple;
    color:white;
}
article+p{/*Vetem sibling elementi i pare pas artikullit*/
    background: orange;
    color:white;
    padding: 20px;
}
h3:first-of-type{
    background-color: green;
    color:white;
}
input:out-of-range{
    border:3px solid red;
}
input:required{
    background-color: #9ee5f0;
}
input:focus{
    background-color: yellow;
}
input:valid{
    border: 2px solid green;
}
input:invalid{
    border: 2px solid red;
}
span:first-of-type{
    background: black;
    color:white;
    padding: 10px;
}
form{
    margin-top: 20px;
}
div p{
    width: 200px;
    background:purple;
}
p::first-line{
    color:blue;
}
p::first-letter{
    font-size: 40px;
    color:crimson;
}
p::before{/*mundet edhe me after*/
    content: url("../images/photo1.jpg");
}
p::selection{
    color:rgb(200, 6, 39);
    background: yellow;
}
div{
    opacity:0.4;
}